<% content_for :head do %>
  <title>New Request - Bridal Kaleidoscope</title>
<% end %>

<div id="contact-info" class="gray-border whiteSmokeBg">
	<p class="field">
		Email - <a href = "&#109&#97&#105&#108&#116&#111&#58&#109&#97&#105&#108&#64&#98&#114&#105&#100&#97&#108&#107&#97&#108&#101&#105&#100&#111&#115&#99&#111&#112&#101&#46&#99&#111&#109" >&#109&#97&#105&#108&#64&#98&#114&#105&#100&#97&#108&#107&#97&#108&#101&#105&#100&#111&#115&#99&#111&#112&#101&#46&#99&#111&#109</a>
	</p>
	<p class="field">
		Phone - <a href="&#116&#101&#108&#58&#56&#52&#55&#45&#52&#54&#50&#45&#50&#53&#50&#54">&#56&#52&#55&#45&#52&#54&#50&#45&#50&#53&#50&#54</a>
	</p>
</div>

<%= render 'form' %>
