/* line 5, ../../../app/assets/stylesheets/home/home.css.scss */
#main-image {
  width: 100%;
}
/* line 7, ../../../app/assets/stylesheets/home/home.css.scss */
#main-image img {
  width: 100%;
}

/*
  root element for the scrollable.
  when scrolling occurs this element stays still.
*/
/* line 18, ../../../app/assets/stylesheets/home/home.css.scss */
.scrollable {
  /* required settings */
  position: relative;
  overflow: hidden;
  width: 978px;
  height: 170px;
  /* custom decorations */
  border: 1px solid #ccc;
  background: url(http://static.flowplayer.org/img/global/gradient/h300.png) repeat-x;
}

/*
  root element for scrollable items. Must be absolutely positioned
  and it should have a extremely large width to accomodate scrollable items.
  it's enough that you set the width and height for the root element and
  not for this element.
*/
/* line 37, ../../../app/assets/stylesheets/home/home.css.scss */
.scrollable .items {
  /* this cannot be too large */
  width: 20000em;
  position: absolute;
  clear: both;
}

/* line 44, ../../../app/assets/stylesheets/home/home.css.scss */
.items div {
  float: left;
  width: 978px;
}

/* single scrollable item */
/* line 50, ../../../app/assets/stylesheets/home/home.css.scss */
.scrollable img {
  float: left;
  background-color: #fff;
  padding: 2px;
  border: 1px solid #ccc;
  width: 320px;
  height: 192px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* active item */
/* line 65, ../../../app/assets/stylesheets/home/home.css.scss */
.scrollable .active {
  border: 2px solid #000;
  position: relative;
  cursor: default;
}

/* position and dimensions of the navigator */
/* line 74, ../../../app/assets/stylesheets/home/home.css.scss */
.navi {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 20px;
  height: 20px;
  padding-top: 3px;
}

/* items inside navigator */
/* line 85, ../../../app/assets/stylesheets/home/home.css.scss */
.navi a {
  width: 8px;
  height: 8px;
  margin: 3px;
  background: url(http://static.flowplayer.org/tools/img/scrollable/arrow/navigator.png) 0 0 no-repeat;
  display: table-cell;
  padding-right: 3px;
  padding-left: 3px;
  font-size: 1px;
}

/* mouseover state */
/* line 98, ../../../app/assets/stylesheets/home/home.css.scss */
.navi a:hover {
  background-position: 0 -8px;
}

/* active state (current page state) */
/* line 103, ../../../app/assets/stylesheets/home/home.css.scss */
.navi a.active {
  background-position: 0 -16px;
}
