<% content_for :head do %> <title>About Us - Bridal Kaleidoscope</title>
<% end %>

<div id='about-us-description' class="gray-border whiteSmokeBg">

	<%= image_tag "about_us/about_us_img.jpg", :alt =>"", :align => "left" %>

	First of all we are a family operated business, our names are Ihor and Lena and Yuriy, our son. This means we are taking our business personally, and want you to feel like comfortable like a member of our family.
	<p>
		My husband, Ihor, started as a cameraman in a TV Studio in Europe in 1996. After shooting news, TV programs and commercials, he fell in love with the notion of capturing weddings.
	</p>
	<p>
		Photography started as a hobby for me many years ago, which gradually developed into photographing the weddings after we moved to US in 2000. Besides capturing your precious wedding moments, I also shoot other portrait sessions.
	</p>
	<p>
		Yuriy is making both his father and I very proud by becoming the third generation of accomplised videographers in our family. Now, as a cohesive unit we create fabulous experiences for people celebrating milestones and miracles that they can look back on for years to come. 
	</p>
	<p>
		Whether it's wedding, baptism, Bar Mitzvah, pregnancy, a newborn photo shoot, weight loss, cancer survival or a beloved pet; beautiful images preserve the emotional bond to that exact moment in time. 
	</p>
	<p>
		We'll give you clean, uncluttered images and professionally made movies. 
	</p>
	<p>
		You'll experience fabulous, one-day escapes that you'll never forget. 
	</p>
	<p>
		Not a professional model? No worries. None of our clients are. We pose every inch of you, every curve, every angle, and every tilt. In the end, the results will speak for themselves. 
	</p>
	<p>
		Over the years we have created marvelous photographic images and movies for our clients. You can be certain that Bridal Kaleidoscope will provide you with the same level of expertise and professionalism we have always had to every single customer. When both a personal and professional touch is needed for your solo portrait, family portrait, still life, catalog, brochure, and of course capturing milestone events like weddings -- contact Bridal Kaleidoscope. 
	</p>
	<p>
		You won't regret it - we guaranty it!
	</p>
</div>
