<% content_for :head do %>
  <title>About Us - Bridal Kaleidoscope</title>
<% end %>

<div id='about-us-description' class="gray-border whiteSmokeBg">
  
  <%= image_tag "about_us/about_us_img.jpg", :alt =>"", :align => "left" %>
  
  First of all we are Family (Ihor, Lena and our son Yuriy). And that means we are taking our business in very personal way. 
  <p>
    My husband, Ihor, started as a cameraman on TV Studio in Europe in 1996. After shooting news, TV programs and commercial he fell in love to capture the weddings. Combining the talent of skilled videographer with the art of editing he will customize your video and tell a story that is exciting, original and timeless.
  </p>
  <p>
    And me, Lena, having photography as a hobby for many years started to photograph the wedding after we moved to US in 2000. Along with weddings I also shoot other portrait sessions.
  </p>
  <p>
    Yuriy taking the pass from his dad and is a third generation of videographer.
  </p>
  <p>
    Now we create fabulous experiences for people celebrating milestones and miracles.
  </p>
  <p>
    Whether it's wedding, baptism, Bar Mitzvah, pregnancy, a newborn, weight loss, cancer survival or a beloved pet beautiful images preserve the emotional connection to that point in time forever.
  </p> 
  <p>
    We'll give you clean, uncluttered images and professionally made movies.  
  </p>
  <p>
    You'll experience fabulous, one-day escapes that you'll never forget.    
  </p>
  <p>
    Not a professional model? No worries. None of our clients are. We pose every inch of you, every curve, every angle, and every tilt. It's challenging for you, but the results will speak for themselves.
  </p>
  <p>
    Over the years we have created wonderful photographic images and movies to our clients. You can expect that Bridal Kaleidoscope will provide you with the same level of expertise we always have to a wide range of customers. When both a personal and professional touch is needed for your portrait or family portrait, still life, catalog, brochure, and of course capturing event like wedding contact Bridal Kaleidoscope.
  </p>
  <p>
    You won't regret it - we guaranty it!
  </p>
</div>
