// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.two-wide{
  float: left;
  margin-right: 2em;
  
}

.field {
  margin-top: 1em;
  margin-left: 1em;
}

#request_referent {
  width: 219px;
}

#request-form {
  width: 650px;
  padding: 10px 10px 10px 10px;
  margin-top: 1em;
}

#bride-info {
  margin: 1em 0em 0em 0em;
}

#submit-button {
  margin-right: 2em;
  margin-top: 1em;
  margin-left: 1em;
 
}

#download_link {
  margin-top: 20px;
  width: 980px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#dl-prices-text {
  margin: 30px 50px 10px 50px;
}

#form-heading {
  margin-top: 20px;
  width: 980px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
