/*
 * Mixins
 */
/*
 * /Mixins
 */
/*
 * Classes
 */
/* line 25, ../../app/assets/stylesheets/global.css.scss */
.inline {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, d:/Development/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.inline {
  *display: inline;
}

/* line 29, ../../app/assets/stylesheets/global.css.scss */
.center {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

/*
 * /Classes
 */
/* line 44, ../../app/assets/stylesheets/global.css.scss */
* {
  font-size: 17px;
  font-family: Verdana, "sans-serif", serif;
}

/* line 49, ../../app/assets/stylesheets/global.css.scss */
html {
  height: 100%;
}

/* line 53, ../../app/assets/stylesheets/global.css.scss */
body {
  margin: 0 0 0 0;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #c4c4c4));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #c4c4c4 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #c4c4c4 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #c4c4c4 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #c4c4c4 100%);
  background-image: linear-gradient(top, #ffffff 0%, #c4c4c4 100%);
}

/* line 61, ../../app/assets/stylesheets/global.css.scss */
#content-all {
  height: 97%;
  margin-top: 10px;
  background-color: white;
  -moz-box-shadow: black 2px 2px 5px 0px;
  -webkit-box-shadow: black 2px 2px 5px 0px;
  -o-box-shadow: black 2px 2px 5px 0px;
  box-shadow: black 2px 2px 5px 0px;
}

/* line 69, ../../app/assets/stylesheets/global.css.scss */
#logo img {
  margin: 10px 5px 5px 10px;
}

/* line 74, ../../app/assets/stylesheets/global.css.scss */
#login {
  float: right;
  margin: 10px 5px 5px 10px;
}

/* line 79, ../../app/assets/stylesheets/global.css.scss */
#login-form {
  font-size: 8px;
}
/* line 18, d:/Development/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#login-form label {
  font-weight: bold;
}
/* line 19, d:/Development/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#login-form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, d:/Development/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#login-form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, d:/Development/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#login-form input.text, #login-form input.title, #login-form input[type=email], #login-form input[type=text], #login-form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, d:/Development/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#login-form input.title {
  font-size: 1.5em;
}
/* line 29, d:/Development/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#login-form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, d:/Development/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#login-form select {
  margin: 0.5em 0;
}
/* line 44, d:/Development/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#login-form input.text, #login-form input.title, #login-form input[type=email], #login-form input[type=text], #login-form input[type=password] {
  width: 100px;
}
/* line 46, d:/Development/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#login-form textarea {
  width: 195px;
  height: 200px;
}
/* line 55, d:/Development/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#login-form fieldset {
  border: 1px solid #cccccc;
}
/* line 58, d:/Development/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#login-form input.text, #login-form input.title, #login-form input[type=email], #login-form input[type=text], #login-form input[type=password],
#login-form textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, d:/Development/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#login-form input.text:focus, #login-form input.title:focus, #login-form input[type=email]:focus, #login-form input[type=text]:focus, #login-form input[type=password]:focus,
#login-form textarea:focus {
  border-color: black;
}
/* line 65, d:/Development/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#login-form select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 14, ../../app/assets/stylesheets/global.css.scss */
#login-form input.text, #login-form input.title, #login-form input[type=email], #login-form input[type=text], #login-form input[type=password] {
  height: 10px;
}
/* line 86, ../../app/assets/stylesheets/global.css.scss */
#login-form input {
  -moz-box-shadow: black 1px 1px 1px 0px;
  -webkit-box-shadow: black 1px 1px 1px 0px;
  -o-box-shadow: black 1px 1px 1px 0px;
  box-shadow: black 1px 1px 1px 0px;
}

/* line 95, ../../app/assets/stylesheets/global.css.scss */
#nav {
  width: 100%;
  height: 50px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: #9b9b9b;
  text-align: center;
  -moz-box-shadow: black 2px 2px 5px 0px;
  -webkit-box-shadow: black 2px 2px 5px 0px;
  -o-box-shadow: black 2px 2px 5px 0px;
  box-shadow: black 2px 2px 5px 0px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF9B9B9B', endColorstr='#FF707070');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #9b9b9b), color-stop(100%, #707070));
  background-image: -webkit-linear-gradient(top, #9b9b9b 1%, #707070 100%);
  background-image: -moz-linear-gradient(top, #9b9b9b 1%, #707070 100%);
  background-image: -o-linear-gradient(top, #9b9b9b 1%, #707070 100%);
  background-image: -ms-linear-gradient(top, #9b9b9b 1%, #707070 100%);
  background-image: linear-gradient(top, #9b9b9b 1%, #707070 100%);
}
/* line 113, ../../app/assets/stylesheets/global.css.scss */
#nav ul {
  list-style: none;
  display: table;
  width: 100%;
}
/* line 117, ../../app/assets/stylesheets/global.css.scss */
#nav ul li {
  display: table-cell;
  vertical-align: middle;
}
/* line 120, ../../app/assets/stylesheets/global.css.scss */
#nav ul li a {
  display: block;
  text-align: center;
  height: 50px;
  line-height: 50px;
}
/* line 128, ../../app/assets/stylesheets/global.css.scss */
#nav ul .default {
  color: #FFFFFF;
  background-color: #9b9b9b;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF9B9B9B', endColorstr='#FF707070');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #9b9b9b), color-stop(100%, #707070));
  background-image: -webkit-linear-gradient(top, #9b9b9b 1%, #707070 100%);
  background-image: -moz-linear-gradient(top, #9b9b9b 1%, #707070 100%);
  background-image: -o-linear-gradient(top, #9b9b9b 1%, #707070 100%);
  background-image: -ms-linear-gradient(top, #9b9b9b 1%, #707070 100%);
  background-image: linear-gradient(top, #9b9b9b 1%, #707070 100%);
}
/* line 135, ../../app/assets/stylesheets/global.css.scss */
#nav ul .hover {
  color: #FFFFFF;
  background: #ea5507;
}
