<% content_for :head do %> <title>Videos - Bridal Kaleidoscope</title>
<% end %>
<!--
<div id='video-holder' class="gray-border whiteSmokeBg">
	<div id="osmplayer" class="center-min-width"></div>
</div>
-->

<div id="page">
	<div id="container">
		<%= render :partial => 'tn3gallery/gallery' %>
	</div>
</div>