<% content_for :head do %> <title>Videos - Bridal Kaleidoscope</title>
<% end %>

<div id='video-holder' class="gray-border whiteSmokeBg">
	<div id="osmplayer" class="center-min-width"></div>
</div>

