Congratulations <%= @request.first_name %> on your upcoming event and thank you for your considerations!
Below is a link to download pricing information. We look forward to talking further about your photography and video needs. We appreciate your interest in our company. Have a great day!

<div id="download_link"><%= link_to "Download/Save prices here", "http://bridalkaleidoscope.com/Bridal Kaledoscope - Prices.pdf" %></div>