<% content_for :head do %>
  <title>Download Prices - Bridal Kaleidoscope</title>
<% end %>

<% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :class => [key, " message"], :id => "notice" %>
    <%= content_tag :script, :type => "text/javascript" do -%>
        setTimeout("new Effect.Fade('notice');", 1500);
    <% end %>
<% end %>
<!--
<div class="notice">
  <p id="notice"><%= notice %></p>
</div>
-->

<div id="dl-prices-text">
  <p>
  Congratulations on your upcoming event and thank you for your considerations!
  Below is a link to download pricing information. We look forward to talking further about your photography and video needs. We appreciate your interest in our company. Have a great day!
  </p>
</div>


<div id="download_link"><%= link_to "Download/Save prices here", "/Bridal Kaledoscope - Prices.pdf" %></div>