<% content_for :head do %>
  <title>Client Login - Bridal Kaleidoscope</title>
<% end %>
<div id="page">
  <div id="container">
	<div class="alert alert-error">
		The client login page is temporarily down. Sorry for any inconveniences. Please check back soon.
	</div>
  </div>
</div>

