<% content_for :head do %>
  <title>Galleries - Bridal Kaleidoscope</title>
<% end %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'galleries/galleries' %>
<% end %>
<% content_for :javascripts do %>
  <%= javascript_include_tag 'galleries/galleries' %>
<% end %>
<!--
        link_to(image_path("galleries/1/0001.jpg"), :class => 'thumb gallery-thumb', :name => 'Image 1', :title => 'Title1') do
        image_tag "galleries/1/0001.jpg", :alt =>""
      end>
-->
<div id="page">
  <div id="container">
    <div class="gallery">
      <div class="tn3 album">
        <h4>Album 1</h4>
        <div class="tn3 description">Full size images - good for fullscreen view</div>
        <% @images.each do |i| %>
            <%= link_to(image_path("galleries/1/full/#{i}"), :class => '', :name => 'Image 1', :title => 'Title1') do %>
              <%= image_tag "galleries/1/thumb/#{i}", :alt =>"", :size => "32x32" %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

