@import "compass";
@import "compass/css3";
@import "blueprint";

/*
 * Mixins
 */
@mixin form-input-height($input-height: 20px) {
  input {
    &.text,
    &.title,
    &[type=email],
    &[type=text],
    &[type=password] {
      height: $input-height; } }
}
/*
 * /Mixins
 */


/*
 * Classes
 */
.inline {
  @include inline-block;
}

.center {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.center-min-width {
  width: 1%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.clear {
  @reset-float;
}

.input {
  @include box-shadow(black 1px 1px 1px 0px);
}

.gray-border {
  border-color: #DDDDDD;
  border-style: solid;
  border-width: 1px;
  text-align: left;
}

.jui-font {
  font: 62.5% "Trebuchet MS",sans-serif;
}

.notice {
  background-color: #BFFFD2;
  border-color: black;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  width: 650px;
}

/*
 * /Classes
 */

/*
 
{
  font-size: 17px;
  font-family: Verdana, "sans-serif", serif;
}

*/

html {
  height: 100%;
}

body {
  margin: 0 0 0 0;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include background-image(linear-gradient(top, #FFFFFF 0%, #C4C4C4 100%));
}

#content-all {
  height: 97%;
  margin-top: 10px;
  background-color: white;
  @include box-shadow(black 2px 2px 5px 0px);
}

#logo {
  img {
    margin: 10px 5px 5px 10px;
  }
}

#login {
  float: right;
  margin: 10px 5px 5px 10px;
}

#login-form {
  font-size: 8px;
  @include blueprint-form-layout;
  @include blueprint-form-sizes(100px, 195px, 200px);
  @include blueprint-form-borders(#BBBBBB, #000000, #CCCCCC);
  @include form-input-height(10px);
  
  input {
    @include box-shadow(black 1px 1px 1px 0px);
  }
  
}

$nav-default: #C4C4C4;
$nav-hover: #FF8800;
$nav-height: 50px;
#nav {
  width: 100%;
  height: $nav-height;
  
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  
  background-color: #9b9b9b; // Old browsers
  
  //margin-left: auto;
  //margin-right: auto;
  text-align: center;
  
  @include box-shadow(black 2px 2px 5px 0px);
    
  @include filter-gradient(#9b9b9b, #707070, vertical); // IE6-9
  @include background-image(linear-gradient(top, #9b9b9b 1%,#707070 100%));
  
  ul { 
    list-style: none;
    display: table;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    li {
      width: 20em;
      display: table-cell;
      vertical-align: middle;
      a {
        display: block;
        text-align: center;
        height: $nav-height;
        line-height: $nav-height;
      }
    }
    
    .default {
      color: #FFFFFF;
      background-color: #9b9b9b; // Old browsers
      @include filter-gradient(#9b9b9b, #707070, vertical); // IE6-9
      @include background-image(linear-gradient(top, #9b9b9b 1%,#707070 100%));
    }
      
    .hover {
      color: #FFFFFF;
      background: #ea5507;
    }
  }
}
