@import "compass";
@import "compass/css3";

*{
  font-size: 17px;
  font-family: Verdana, "sans-serif", serif;
}

html {
  height: 100%;
}

body {
  margin: 0 0 0 0;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include background-image(linear-gradient(top, #FFFFFF 0%, #C4C4C4 100%));
}

.center {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#content-all {
  height: 97%;
  margin-top: 10px;
  background-color: white;
  @include box-shadow(black 2px 2px 5px 0px);
}

$nav-default: #C4C4C4;
$nav-hover: #FF8800;
$nav-height: 50px;
#nav {
  width: 100%;
  height: $nav-height;
  
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  
  background-color: #9b9b9b; // Old browsers
  
  //margin-left: auto;
  //margin-right: auto;
  text-align: center;
  
  @include box-shadow(black 2px 2px 5px 0px);
    
  @include filter-gradient(#9b9b9b, #707070, vertical); // IE6-9
  @include background-image(linear-gradient(top, #9b9b9b 1%,#707070 100%));
  
  ul { 
    list-style: none;
    
    li {
      //padding: 4px 20px 4px 20px;
      padding: ($nav-height - 20px) / 2 $nav-height - 8px ($nav-height - 20px) / 2 $nav-height - 8px;
      float: left;
      margin: 0 0 0 0;
    }
    
    .default {
      color: #FFFFFF;
      background-color: #9b9b9b; // Old browsers
      @include filter-gradient(#9b9b9b, #707070, vertical); // IE6-9
      @include background-image(linear-gradient(top, #9b9b9b 1%,#707070 100%));
    }
      
    .hover {
      color: #FFFFFF;
      background: #ea5507;
    }
  }
}
