// Place all the styles related to the Galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//= require galleriffic/basic
//= require galleriffic/galleriffic-3

/*
 * Classes
 */
.thumb {
  img {
    width: 75px;
    height: 75px;
  }
}

/*
 * /Classes
 */

#main-content {
  margin: 20px 0 0 0;
}